@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440p;

  /* COLORS */

  --color-brightRed: hsl(12, 88%, 59%);
  --color-brightRedLight: hsl(12, 88%, 69%);
  --color-brightRedSupLight: hsl(12, 88%, 95%);
  --color-darkBlue: hsl(228, 39%, 23%);
  --color-darkGrayishBlue: hsl(227, 12%, 61%);
  --color-veryDarkBlue: hsl(233, 12%, 13%);
  --color-veryPaleRed: hsl(13, 100%, 96%);
  --color-veryLightGray: hsl(0, 0%, 98%);
}

body {
  background-image: url("../assets/img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url("../assets/img/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url("../assets/img/bg-simplify-section-mobile.svg");
  }
}

/* Hamburger Menu */

.hamburger {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  right: 0;
  top: 10;
  width: 24px;
  height: 2px;
  background: black;
  transition: all 0.5s;
}

.hamburger-top {
  transform: translateY(-7px);
}

.hamburger-bottom {
  transform: translateY(7px);
}

.open .hamburger-top {
  transform: rotate(45deg);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg);
}
